body{    
  font-family: "Merriweather Sans", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 600 !important;
  font-style: normal !important;
  background-color: #FFFFE6 !important;
}
/*BARRA DE NAVEGACION*/
.nav-link {
    color: black !important;
}
/*SESION*/
.contenedor-sesion {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; 
  box-sizing: border-box;
}

.card.mt-5.log {
  border: none;
  width: 70%;
  margin-left: 15%; /*70 width menos 15 menos 15 -> 30*/
  max-width: 500px; 
}

.card-body.log {
  background-color: #FFFFE6;
  border: none;
}
.form-control{
    border: solid 1px #908C1C !important;
}
.logo-sesion {
  display: block;
  margin: 0 auto 20px auto; /*centra*/
  width: 250px;
}

.btn.btn-primary.w-100.acceder {
  background-color: #908C1C;
  border: none;
}
.btn.btn-primary.w-100.acceder:hover{
    background-color: #b3ae22 !important;
    transition: 0.5s;
}