/*Generales*/

body{    
  font-family: "Merriweather Sans", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 600 !important;
  font-style: normal !important;
  background-color: #FFFFE6 !important;
}
.logo{
  filter: brightness(0) invert(1);
}
.navbar.navbar-expand-lg.navbar-light.bg-light.px-4{
background: #908e34 !important;
color: white !important;
}
.btn.btn-primary{
background-color: #7a7617 !important;
border: none;
}
.btn.btn-primary:hover{
  background-color: #908C1C !important;
}
.btn-success{
background-color: #7a7617 !important;
border: none !important;
}
.btn-success:hover{
  background-color: #908C1C !important;
}
.tit-tabla{
background-color: #908C1C !important;
color: white;
padding: 15px;
border-radius: 30px;
width: 310px;
}
.btn.btn-outline-success.mb-3{
width: 100%;
}
/*BARRA DE NAVEGACION*/

.nav-link {
    color: rgb(255, 255, 255) !important;
}
.nav-link.active {
  border-bottom: #ffffff solid 2px !important;
}
.nav-link:hover {
  color: #e6e6e6 !important;
}
#nombre-usuario,
#tipo-usuario {
  text-transform: uppercase;
}
.importar{
  background-color: #908C1C !important;
  margin-top: 200px !important;
}
/*SESION*/
.contenedor-sesion {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; 
  box-sizing: border-box;
}
.card.mt-5.log {
  border: none;
  width: 70%;
  margin-left: 15%; /*70 width menos 15 menos 15 -> 30*/
  max-width: 500px; 
}
.card-body.log {
  background-color: #FFFFE6;
  border: none;
}
.form-control{
    border: solid 1px #908C1C !important;
}
.logo-sesion {
  display: block;
  margin: 0 auto 20px auto; /*centra*/
  width: 250px;
}

.btn.btn-primary.w-100.acceder {
  background-color: #908C1C;
  border: none;
}
.btn.btn-primary.w-100.acceder:hover{
    background-color: #7a7617 !important;
    transition: 0.5s;
}
/*ADMINISTRADOR*/
  .menu-admin {
    height: calc(100vh - 72px); 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFE6 !important;
  }

  .menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: 150px 250px;
    gap: 20px;
  }

  .menu-opcion {
    background-color: #908C1C;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
    transition: background-color 0.2s ease;
  }

  .menu-opcion:hover {
    background-color: #7a7617;
  }

  .menu-opcion.grande {
    grid-column: span 2;
  }
  /*OFERTAS*/
  .tabla-scrollable {
  max-height: 700px;  
  overflow-y: auto;
  border: 2px solid #000000; 
  border-radius: 10px;
}
th{
  background-color: #908C1C !important;
  color: white !important;
  text-align: center;
}
table#tabla-ofertas tr.sin-stock td:nth-child(6) {
  background-color: #ff8b8b !important; 
  font-weight: bold;
  color: #000;
}

table#tabla-ofertas tr.poco-stock td:nth-child(6) {
  background-color: #ffc175 !important;
  font-weight: bold;
  color: #000;
}

table#tabla-ofertas tr.ok-stock td:nth-child(6) {
  /*background-color: #d4edda !important; */
  color: #000;
}
.ui-autocomplete {
  max-height: 200px;       
  max-width: 300px !important;
  overflow-y: auto;        /*scroll*/
  overflow-x: hidden;     
  z-index: 1000;           
}


.columna-disponible {
  text-align: center;

} 
.disponible-cero {
  border-radius: 25px;
  font-weight: bold;
}
.disponible-bajo {
  padding: 6px;
  border-radius: 25px;
}
.disponible-ok {
}
/*comercial*/
  /*Adm-usuarios*/